body{
    color:white;
    background:black ;
    margin:0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom:solid 2px rgb(231 51 58);
    padding:20px;
    font-size: 30px;
    color:rgb(231 51 58);
}

.chamada{
    background: rgb(231 51 58);
    padding-bottom: 45px ;
    padding-top: 45px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p1{
    font-size: 20px;
}
img{
    height:200px
}
 .categoria-videos{
    display: flex;
    overflow-x: auto;
    gap:10px;
}
.categoria{
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 50px;
}
    .categoria-videos img{
        opacity: 0.5;
    }
  .categoria-videos img:hover {
       opacity: 1.0;
       border: 3px solid green;
  }  
 .categoria h2{
    color: rgb(231 51 58)
 }